@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');                                

*,*::after,
::before{
  margin: 0%;
  padding:0%;
  box-sizing: border-box;
  outline: none; 
}

html{
  font-size: 16px;

}
:root{
  --clr-white:white;
  --clr-black:black;
  --amber-yellow: #ffbe0bff;
--orange-pantone: #fb5607ff;
--winter-pink: #ff006eff;
--blue-violet: #8338ecff;
--azure-blue: #3a86ffff;
--clr-box-shadow: 0px 22px 12px rgba(0,0,0,0.15);
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(63, 63, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* global css */

img{
  width: 100%;
  height: auto;
}

a{
text-decoration: none;
}

li{
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
 background-color:blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#form {
  width: 400px;
  padding: 20px;
  background-color:white;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  font-size: 12px;
}

h1 {
  color: black;
  text-align: center;
}

.input-control {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-icon {
  position: absolute;
  top: 32px;
  left: 10px;
  font-size: 18px;
  color:black;
}

.op-icon {
  visibility: hidden;
  position: absolute;
  right: 10px;
  top: 32px;
}

label {
  margin-bottom: 3px;
  font-weight: 500;
  color:black;
  font-size: 0.85rem;
}

input {
  border: 2px solid #d1cdcd;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 12px 0 12px 2.25rem;
  width: 100%;
  font-weight: 500;
  background-repeat: no-repeat;
  background-position: 7px;
  cursor: pointer;
}

input[type="text"] {
  text-transform: capitalize;
}

input[type="email"] {
  text-transform: lowercase;
}

.btn-container {
  text-align: center;
}

button {
  width: 40%;
  margin: 0.5rem 0;
  cursor: pointer;
  padding: 0.6rem 0;
  border: none;
  background-color:blue;
  color:white;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.9rem;
  transition: all 0.5s;
}

button:hover {
  transition: all 0.5s;
  background-color:rgb(8, 184, 8);
  color:black;
}

button:active {
  transform: scale(0.99);
  transition: all 0.25s;
}

.input-control.success i.fa-circle-check {
  font-size: 16px;
  color: #20bf55;
  visibility: visible;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control.error i.fa-circle-exclamation {
  font-size: 18px;
  color: red;
  visibility: visible;
}

.input-control .error {
  text-align: left;
  font-style: italic;
  color: orangered;
  font-size: 0.7rem;
  font-weight: 600;
  height: 13px;
  margin-bottom: 0.75rem;
  margin-top: 3px;
}


@media screen and (max-width: 425px) {
  #form {
    width: 370px;
  }
}